[2019-06-07 19:57] nv-kkudrynski opened #27 "No tag in the list matches NCF application - "recommendations" needed."

[2019-06-07 20:47] ailzhang commented on #27
@nv-kkudrynski  Just add it in your PR if needed. https://github.com/pytorch/hub/blob/master/scripts/tags.py

[2019-06-11 04:20] mateuszbuda opened #29 "RuntimeError: invalid hash value"
I keep getting an error when loading state dict form url:

[code]

And every time I try, I get a different hash value

[code]

[code]

What is the recommended way to load weights that are stored on github?
I followed this guide: https://pytorch.org/docs/stable/hub.html#publishing-models

[2019-06-11 04:26] ailzhang commented on #29
@mateuszbuda I think what's happening here is we require the name to be suffixed with "first 8 digits of SHA256" of the content. Try renaming it to `unet-7f29ab80.pt`
https://pytorch.org/docs/master/model_zoo.html#torch.utils.model_zoo.load_url
Please let me know if that fixes it for you.
I will update the hub documentation. :)

[2019-06-11 04:28] ailzhang commented on #29
Btw if your weights in in the same github repo, you can use `load_state_dict` directly without `torch.hub.load_state_dict_from_url`

[2019-06-11 04:50] mateuszbuda commented on #29
Thank you for the suggestions @ailzhang.
It didn't help to rename it to `unet-7f29ab80.pt` since every time I load it, I'm getting a different hash value.
I tried using `load_state_dict` but couldn't figure out `path_to_saved_checkpoint` format.
Should it include github username and/or repo name?
Assuming that I store the weights file in `weights/unet.pt`, how should I use load state dict:

[code]

[2019-06-11 04:55] ailzhang commented on #29
Yea in your case load_from_url API won't fit. I believe
[code]
should work. You can push the change to a branch and test it using `torch.load('xxx/xxx:branch', 'model')`

[2019-06-11 05:21] mateuszbuda commented on #29
It worked! Thank you.

[2019-06-11 05:35] rwightman opened #31 "What should be here?"
I think this could be an amazing resource once it gets going. I do have one rather broad an open ended question. What, exactly, is supposed to be published here, where is the bar intended to be in terms of admission?

Is the intent that anyone and everyone publishes their models here? 5 copies of EfficientNet, a ResNet-50 with better trained weights than Torchvision? Or is the intent to curate a l

[2019-06-11 05:49] soumith commented on #31
Good Question.

We have clarity on most of the answer, and are refining some of it.

What should be in the `research` category?
- artifacts of a published or an arxiv paper that a large audience would need
- reproduces the published results (or better)
- aimed at researchers either trying to reproduce a baseline, or trying to build downstream research on top of the model (such as feature-extractio

[2019-06-11 16:11] mateuszbuda commented on #29
@ailzhang Unfortunately, using `weights/unet.pt` as `path_to_saved_checkpoint` works only if I run `torch.load` from a local folder where I cloned the repo and `weights/unet.pt` exists.
If I run it from a different location, e.g. a home folder, it fails:

[code]

Details here: https://circleci.com/gh/pytorch/hub/131?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-11 17:10] rwightman commented on #29
@mateuszbuda  In general, aside from the issues you're having, I wouldn't say checking binary weights in to the git/github repos is the best approach for a number of reasons...

One thing that works quite well though, is adding the weights as assets in a release tag and using the resulting URL with the standard url based loading methods. It's free, fast, versionable (using new release tags), and g

[2019-06-11 17:15] ailzhang commented on #29
@mateuszbuda  I will take a look on the local weights later today, in the mean while, would you mind taking a look at @rwightman 's solution? Thanks!

[2019-06-11 18:13] #27 closed

[2019-06-12 01:44] Loverush opened #35 "cannot load the pre-trained model"
- windows

- pytorch 1.1

- torchvision 0.3

- cuda 9.0

when I tried '' torch.hub.list('pytorch/vision') '', it happened that:
[WinError 32] 另一个程序正在使用此文件，进程无法访问。: 'C:\\Users\\****/.cache\\torch\\hub\\master.zip'

[2019-06-12 02:41] ailzhang commented on #35
This should be fixed in https://github.com/pytorch/pytorch/issues/20757 and will be included in our release (likely in next month). But it's a simple one-liner change you can add in your install. (Or build from master)

[2019-06-12 02:41] #35 closed

[2019-06-12 04:16] mateuszbuda commented on #29
@rwightman Thank you, I followed your suggestion and it worked.
@ailzhang If loading weights from a file on github repo is an option, it would be good to have an example for it.

[2019-06-12 15:12] ailzhang commented on #29
@mateuszbuda I got local weights to work in https://github.com/ailzhang/brain-segmentation-pytorch/commit/e17d358a520d374ad58810a2c7aa5537a9500305 in case you are interested in using it.
I will update the documentation with an example. Thanks!

[2019-06-12 19:52] mateuszbuda commented on #29
Thanks for figuring this out.
Anyway, I'll stick to the method suggested by @rwightman.
I think it should be recommended.

[2019-06-12 20:47] #29 closed

[2019-06-26 03:49] linzhi123 opened #43 "AttributeError: module 'torch' has no attribute 'hub'"
import torch
model = torch.hub.list('pytorch/vision')

My pytorch version is 1.0.0, but I can't load the hub, why is this?

[2019-06-26 04:02] soumith commented on #43
you need 1.1.0 atleast

[2019-06-26 04:02] #43 closed

[2019-06-26 09:35] soldier828 opened #44 "hub/pytorch_vision_deeplabv3_resnet101. plot error"
`# create a color pallette, selecting a color for each class
palette = torch.tensor([2 ** 25 - 1, 2 ** 15 - 1, 2 ** 21 - 1])
colors = torch.as_tensor([i for i in range(21)])[:, None] * palette
colors = (colors % 255).numpy().astype("uint8")

# plot the semantic segmentation predictions of 21 classes in each color
r = Image.fromarray(output_predictions.byte().cpu().numpy()).resize(input_image.size)

[2019-06-26 16:28] ailzhang commented on #44
Hi @soldier828 could you paste your env here, like python version and how to repro? The script runs for me, and `putpalette` does take sequence. https://pillow.readthedocs.io/en/4.1.x/reference/Image.html#PIL.Image.Image.putpalette

[2019-06-26 18:45] bkkaggle opened #45 "Adding modules to pytorch hub"
Hi,

I built a library called [pytorch_zoo](https://github.com/bkahn-github/pytorch_zoo) with a collection of pytorch modules, losses, schedulers, and utilities that I use often. I'd like to add some of these modules to pytorch hub.

Are you interested in contributions like this for pytorch hub, or is this repository only for pretrained models?

Thanks,

Bilal

[2019-06-26 18:49] soumith commented on #45
which of the modules are you thinking to add to hub? I dont see any models from a glance at the README

[2019-06-26 19:09] bkahn-github commented on #45
For modules, I have:

- [channel wise squeeze and excitation](https://github.com/bkahn-github/pytorch_zoo#squeezeandexcitationin_ch-r16)
- [Channel Squeeze and Spatial Excitation](https://github.com/bkahn-github/pytorch_zoo#channelsqueezeandspatialexcitationin_ch)
- [Concurrent Spatial and Channel Squeeze and Channel Excitation](https://github.com/bkahn-github/pytorch_zoo#concurrentspatialandchann

[2019-06-27 11:22] soldier828 commented on #44
I follow the code refer to https://pytorch.org/hub/pytorch_vision_deeplabv3_resnet101/.   Except one change as below, namely import deeplabv3 model. Did this lead to the  r.putpalette  error?

[code]

My env:
Python                        2.7.11
torch                              1.1.0
torchvision                        0.3.0
Pillow                             4.1.1

CentOS release 6.3

[2019-06-30 06:27] soumith commented on #45
@bkkaggle i think you missed the goal of Hub. It is for pre-trained pytorch models, that reproduce a paper, or showcase a functionality. In some cases these are also fine-tunable.

In your case, pytorch_zoo is more like a set of batteries.

[2019-06-30 06:27] #45 closed

[2019-07-03 02:15] huangsiyuzhoujie opened #46 "ImportError: cannot import name 'wide_resnet50_2'"
when i use model = torch.hub.load('pytorch/vision', 'resnext50_32x4d', pretrained=True) and accur error:
`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-7-75e761155f91> in <module>
----> 1 model = torch.hub.load('pytorch/vision', 'densenet121', pretrained=True)

/opt/conda/lib/py

[2019-07-03 02:44] ailzhang commented on #46
Hmmm I cannot repro this on my end. Try `model = torch.hub.load('pytorch/vision', 'resnext50_32x4d', pretrained=True, force_reload=True)`?

[2019-07-06 04:02] lkhphuc commented on #46
I have the same issue loading ResNext from pytorch hub, I ran on Kaggle kernels and reset multiple time.
However this works fine: `model = torch.hub.load('facebookresearch/WSL-Images', 'resnext101_32x8d_wsl')`

[2019-07-06 17:17] ailzhang commented on #46
@lkhphuc Have you tried the `force_reload` I posted above? If it still doesn't work, would you mind posting your python version & pytorch version & torchvision commit in `~/.cache/torch/`? Thanks!

[2019-07-08 06:55] lkhphuc commented on #46
Yes, even with `force_reload=True`.
This is easiest to reproduce, you just go on Kaggle and create a new kernel and try it.
![image](https://user-images.githubusercontent.com/12573521/60788790-b290c600-a187-11e9-9cbc-da6687dc9a09.png)

[2019-07-08 13:54] szagoruyko commented on #46
I reproduced the issue, it depends if you import torchvision or not.

Case 1:
[code]
works,

Case 2:
[code]
does not. The reason is that in Case 1 torchvision is loaded from master, so if you import torchvision after, you will get master torchvision !
In Case 2, torchvision is already imported, so can't be loaded from master, and there is no wide_resnet, it does thus fail.

The behaviour with mast

[2019-07-09 09:30] awaelchli commented on #46
I have he same issue. The workaround from @szagoruyko works, but in my code it is kind of impossible to do the torch.hub.load before torchvision import. Guess we have to wait for a torchvision update.

[2019-07-09 14:49] szagoruyko commented on #46
@awaelchli another workaround is to install master torchvision:
[code]

[2019-07-09 15:10] awaelchli commented on #46
@szagoruyko Oh right. Now I see that I actually misunderstood and thought we are running a too new version of torchvision. It's the other way around. Thank you.

[2019-07-09 17:44] ailzhang commented on #46
Thanks @szagoruyko for the detailed repro and workarounds. Yes this is one of the Python caching "feature" that once it has seen a `torchvision` it will just use the cached version forever (in that process).
I think both workarounds look good to me:
- call `hub.load` before `import torchvision`
- install master verision of `torchvision`.

In the long term I would love to learn what you want to use

[2019-07-09 18:14] fmassa commented on #46
I had some quick discussion with @szagoruyko , and one possibility for fixing it would be to make `hub` modify the library name to a temporary name, like `_temp_hub_module_ca6f2d` with string substitution, just after cloning the repo.

So it would replace `import torchvision` with `import _temp_hub_module_ca6f2d` in the repo that has been cloned.

This is very hacky, but could be a solution.

[2019-07-09 18:21] ailzhang commented on #46
@fmassa renaming the library is pretty hacky and will require some regex to help.
Imagine the following
[code]
It might be error prone to use regex to define where to replace `torchvision` with `_temp_hub_module_ca6f2d` in the code hmmm

[2019-07-09 18:32] fmassa commented on #46
@ailzhang it's possible to come up with some heuristics, but it's very hacky indeed.

Also, the solution "call `hub.load` before `import torchvision`" is not a good solution, because it can break user code if there is a breaking change in torchvision.

[2019-07-09 18:44] faroit opened #47 "file naming of cached models for `load_state_dict_from_url`"
* I am currently using a torch hub entrypoint for an unreleased model which is in a private github repository.  Therefore the entrypoint is manually called using `hubconf.entrypoint()`.

The entrypoint then calls `load_state_dict_from_url` which takes care of the caching of a model by (default) storing downloaded models in `~/.cache/torch/checkpoints/`.

Now I noticed, that the filename are direct

[2019-07-09 19:59] ailzhang commented on #46
@fmassa I feel "installing torchvision from master" shares the same issue if torchvision has breaking changes?

Now it sounds to me maybe it's better and simpler to add those necessary auxiliary class/functions into hubconf, so that hubconf essentially becomes an API that we promise to BC as much as we can.
- On one hand, hub already support auxiliary 'tokenizer`s etc.
- On the other hand, we used

[2019-07-09 20:07] ailzhang commented on #47
Hi @faroit , thanks for the proposal!
You might have also noticed that we use cached folder if there's one in `~/.cache/torch/` and you don't `force_reload=True`, which prefixed checkpoint do you load when you call `torch.hub.load()`?
Adding a `prefix` kwarg in `torch.hub.load()` might work. Do you know what're the common uses cases for this?

[2019-07-09 20:29] fmassa commented on #46
The difference is that installing torchvision from master is not transparent from the user: importing a hub model shouldn't change under the hood the version of torchvision that you are using in your script.  If we could have it in a sandbox, it would be better

[2019-07-11 12:49] fmassa commented on #46
BTW, @ailzhang from @soumith comment on https://github.com/pytorch/vision/pull/971

This would indeed fix the problem that has been mentioned in this issue.

[2019-07-11 19:45] soumith commented on #46
the root of the problem is that this model definition that is trying to be loaded relies on `torchvision` to be imported. that really shouldn't be the case, the model definitions should be self-contained

[2019-07-15 22:09] faroit commented on #47
yes, I saw that but I do not use `torch.hub.load` for now (as it doesn't support private repositories)

a) what happens if two models with the identical name (and hash) are to be cached?

[2019-07-17 04:08] xianyizhu1024 commented on #46
I use this function _torch.hub.load_state_dict_from_url()_ to load pretrained models avoiding the ImportError: cannot import name 'wide_resnet50_2'.

`
import torchvision.models as models
from torchvision.models.resnet import  model_urls

torch.hub.load_state_dict_from_url(model_urls['resnet50'])
 `

[2019-07-30 02:08] ivder commented on #46
it works

[2019-08-13 20:19] szagoruyko commented on #46
this can be closed now?

[2019-08-13 20:27] #46 closed

[2019-09-03 07:59] faroit commented on #47
@ailzhang should this issue be moved to the pytorch core repo?

[2019-09-21 22:37] colesbury opened #55 "None of the colab notebooks listed pytorch.org/hub work out of the box"
There are three highlighted models in https://pytorch.org/hub with links to "Open on Google Colab". None of them quite work out of the box:

DEEPLABV3-RESNET101: This gives a "AttributeError: module 'torch.jit' has no attribute 'unused'" probably because the default PyTorch version is 1.1, but the attribute is only in the master branch. This is pulling the vision model from the master branch.

TRA

[2019-09-22 14:50] ajbrock commented on #55
Experiencing the exact same error as listed for DEEPLABV3-RESNET101 with the MobileNetV2 colab notebook, with the "AttributeError: module 'torch.jit' has no attribute 'unused'" when it tries to import DenseNet.

[2019-09-24 17:23] ailzhang commented on #55
There're a few todo out of this issue I think:
- We need to work with Colab to make sure they're on our latest public release.(1.2 vs 1.1) cc: @jspisak do you know whether we have a POC for it?
- (Ailing) Check whether we can enable GPU as default with the colab notebooks.
- The most important issue is we have a versioning problem here: for repos like `torchvision` which is under heavy development

[2019-09-26 03:11] soumith commented on #55
submitted https://github.com/googlecolab/colabtools/issues/762 to upgrade pytorch to 1.2 on colab. forgot to do that after 1.2 release.

[2019-09-27 17:41] Spandan-Madan commented on #55
Is there an easy fix for this at the moment? Not just on collab, to make it work on our own systems, what's the pytorch/torchvision combination needed to make things work?

Thanks in advance!

[2019-09-30 03:02] jspisak commented on #55
@ailzhang - sorry missed this. @soumith and i connected last week and, as he mentioned, he followed up with the Colab folks to get the latest binaries supported.

Going forward, we have an item in the release checklist to account for this in future releases.

[2019-09-30 03:09] ailzhang commented on #55
@Spandan-Madan https://github.com/pytorch/pytorch/issues/26608#issuecomment-534208874 might help if you are on stable release.
If you'd like some new features on torchvision that's only on master, try install torchvision from master and pytorch-nightly, that'll work with `hub.load('pytorch/vision',...)`.

Let me know if you have followup questions.

[2019-10-20 19:55] artificalnouveau opened #62 "When running waveglow.infer, getting 'RuntimeError: CUDA error: invalid device function'"
When running:
`with torch.no_grad():`
     ` _, mel, _, _ = tacotron2.infer(sequence)`
     `audio = waveglow.infer(mel)`

I get the following error:
---------------------------------------------------------------------------

RuntimeError                              Traceback (most recent call last)

<ipython-input-12-a6ced0eab0c3> in <module>()
      5 with torch.no_grad():
      6     _, mel,

[2019-10-29 03:34] soumith commented on #55
recording that DEEPLABV3-RESNET101 has been verified fixed.

[2019-10-29 03:44] soumith commented on #55
fixed the fairseq transformer issue via: https://github.com/pytorch/pytorch.github.io/commit/b888765aea2ac6c7d1f2a2a915bda078c442cc93

[2019-10-29 12:06] Kh4L commented on #62
The example itself works well on my machine and the error seem to be specific to the Google Colab env.

Actually, the error indicates that the PyTorch build is not compatible (more precisely the CUDA capability) with the GPU (which is a `Tesla K80` according to `torch.cuda.get_device_name(0)`)

[2019-10-29 15:32] soumith commented on #55
tracking the waveglow issue in https://github.com/pytorch/hub/issues/62

[2019-10-29 15:32] #55 closed

[2019-10-29 15:35] soumith commented on #62
i've changed some things that might help. I'll wait for the nightlies tonight to verify. Let's see.

[2019-10-31 19:02] soumith commented on #62
i think i might have nailed it down, let's see.
I suspect this was because of a magma upgrade, and the `W.inverse()` call is failing on missing sm37 architecture.

[2019-11-03 03:24] soumith commented on #62
I am moving the technical details of issuing a fix to here: https://github.com/pytorch/pytorch/issues/29096

None of my fixes worked as of yet, and I've been trying.

[2019-11-04 04:55] nlothian opened #63 "PyTorch Hub models and dependencies should be versioned"
We are using the PyTorch deeplabv3_resnet101 model on AWS (on pytorch 1.1), and it suddenly stopped working.

It appears that a recent upgrade to torchvision/inception (!) broke this model:

[code]

Is there a way to avoid this?

[2019-11-04 17:44] ailzhang commented on #63
@nlothian Hub provides a way to pin to a specific release branch by `hub.load('pytorch/vision:v0.4.0')` so that it works with older version of Pytorch.

We're planning to add some version information on the website, our CI will be testing against latest stable releases(torch/torchvision).

[2019-11-04 23:36] nlothian commented on #63
Thanks.

Is there a way to know what version I should pin against? And is that dependency transitive somehow?

[2019-11-04 23:40] ailzhang commented on #63
@nlothian It's not documented I think. Try 0.4.0 or 0.3.0? cc: @fmassa @soumith It might be worth documenting on pytorch/vision which version of pytorch it is compatible.

We definitely recommend upgrading to latest pytorch release if possible.

[2019-11-04 23:42] soumith commented on #62
Found a fix, the quoted issue has context. Tomorrow's nightlies, and v1.3.1 will have a fix for this.

[2019-11-04 23:46] nlothian commented on #63
Unfortunately the latest Pytorch release doesn't stay static (you all keep on working on things!!), and we'd love not to have to keep debugging these types of version issues everytime our pipeline breaks.

We're fine to upgrade to latest now, but we don't like having to keep doing it whenever we bring up a new instance that does a `hub.load(..)`

[2019-11-12 03:44] soumith commented on #62
fixed now on Colab!

[2019-11-12 03:44] #62 closed

[2019-11-12 05:16] Eurus-Holmes opened #66 "[AttributeError] in TRANSFORMER (NMT): pytorch_fairseq_translation.ipynb"
[code]

[2019-11-15 17:30] soumith commented on #66
this issue should be fixed now

[2019-11-18 08:07] Eurus-Holmes commented on #66
Thanks!

[2019-11-18 08:07] #66 closed

[2019-11-26 05:19] JamieShi opened #71 "Typo in pytorch_vision_resnet.md"
"Here we have the 5 versions of resnet models, which contains **5**, 34, 50, 101, 152 layers respectively".
I believe it should be
"Here we have the 5 versions of resnet models, which contains **18**, 34, 50, 101, 152 layers respectively"

[2019-12-03 23:19] Anonymousjoy opened #72 "The example code for u-net brain MRI may not include normalization pre-step"
When I following the example code in [(https://pytorch.org/hub/mateuszbuda_brain-segmentation-pytorch_unet/)] the results is a mess. Then I discovered by removing the normalization step, everything goes well. I checked the repo for the original code, it seems the training procedure did not have a normalization step. So it may be better to fix it. The model is good.
What I mean is, changing
`prepro

[2019-12-03 23:23] ailzhang commented on #72
@mateuszbuda would you mind taking a quick look? Thanks!

[2019-12-24 11:21] mateuszbuda commented on #72
@Anonymousjoy Thanks for trying my model.
You're right that the example code does not produce correct segmentations due to a simplification in the normalization step. The reason for this is that the model was trained to perform segmentation of 3D MRI volumes by concatenating predictions for 2D slices. The example code only shows how to forward one 2D slice.
The normalization step requires the enti

[2020-01-02 21:28] nicklashansen commented on #71
Yes, this should get changed. Definitely a typo.

[2020-01-10 02:53] fumihwh opened #75 "SSD does not work"
Just follow the tutorial.
[code]
Occurs a runtime error
`RuntimeError: unexpected EOF, expected 1022700 more bytes. The file might be corrupted.`

version:
torch.version.cuda: 10.0
torch.version.git_version: 004e3ab79172dda0008a251fda8a65634ea129c3
torch.__version__: 1.5.0.dev20200109+cu100

[2020-01-10 03:18] #75 closed

[2020-01-13 00:21] XMK233 opened #76 "HARDNET cannot load the model according to documentation"
I run the code according to this:

[code]

But I get this error:
[code]

The code and model can be downloaded but cannot be loaded. So what is the problem here? Thanks.

[2020-01-13 16:30] I-M-Russell opened #77 "problem about SSD model in ecosystem running with Google Colab"
when running this part in  [SSD|PyTorch](https://pytorch.org/hub/nvidia_deeplearningexamples_ssd/)
`inputs = [utils.prepare_input(uri) for uri in uris]
tensor = utils.prepare_tensor(inputs, precision == 'fp16')`
on Google Colab, it gives these error:
`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call la

[2020-01-17 17:00] addisonklinke opened #82 "torch.hub.list error for pytorch/vision"
Following the documentation [example](https://github.com/pytorch/hub/issues/new) for listing available models, I tried `torch.hub.list('pytorch/vision')`, but was met with a `RuntimeError: builtin cannot be used as a value` that appears to originate from the `zeros_like()` function. I've included the full traceback below

[code]

[2020-01-17 19:26] ailzhang commented on #82
Hi @addisonklinke, would you mind trying again with `torch` version `>=1.3.0`? Hub always keeps up with the latest pytorch release. I just tried locally and it worked for me.

[2020-01-20 14:53] mbhoshen opened #84 "error running pytorch_vision in colab"
I ran the sample code on colab
###
from PIL import Image
from torchvision import transforms
input_image = Image.open(filename)
preprocess = transforms.Compose([
    transforms.Resize(256),
    transforms.CenterCrop(224),
    transforms.ToTensor(),
    transforms.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225]),
])
input_tensor = preprocess(input_image)
input_batch = input_tensor.un

[2020-01-29 02:58] Lornatang opened #85 "Accuracy issues with Pytorch's "AlexNet" pre-training model."
When I ran the latest version of AexNet's pre-training model to test the ImageNet validation set, I found that the accuracy of top1 and top5 increased. Here are my test details:

[code]
Not in the article:

|Model structure|Top-1 error|Top-5 error|
|:-------------:|:---------:|:---------:|
|    alexnet    |   43.45   |   20.91   |

but:

|Model structure|Top-1 error|Top-5 error|
|:-------------:|:

[2020-01-29 03:09] ailzhang commented on #85
cc: @fmassa do you have any idea about this issue?

[2020-01-29 03:28] Lornatang commented on #85
The precision of the pretrained model cannot reach the accuracy given in the document

[2020-02-13 12:27] changyu98 commented on #85
please use multi crop eval. @Lornatang

[2020-02-13 22:32] #85 closed

[2020-03-09 13:28] nariman9119 opened #86 "ModuleNotFoundError: No module named 'fairseq.meters'"
Trying to load an ensemble of ru-en translation models, but it gives me such error.
Can not find out why. The version of fairseq is 0.9.0
The code is the same is in the example provided in https://github.com/pytorch/fairseq/tree/master/examples/wmt19#example-usage-torchhub

[2020-03-09 16:25] ailzhang commented on #86
Hi @nariman9119 , could you add what pytorch version and the error you get?
Thanks!

[2020-03-11 06:11] bilalsal commented on #77
The following fix to nvidia_ssd_processing_utils in NVIDIA_DeepLearningExamples_torchhub/hubconf.py worked for me in Python 3 (it is changing import to access io and transform in skimage):

def nvidia_ssd_processing_utils():
    import numpy as np
    import skimage
    from skimage import io, transform
    from PyTorch.Detection.SSD.src.utils import dboxes300_coco, Encoder

    class Processing:

[2020-03-13 11:07] skierat commented on #77
@I-M-Russell does the fix work you? Can we close the issue

[2020-05-25 07:55] maximilianmandl opened #95 "Example not working in Jupyter NBs;"
Hi there,

I wanted to play around with your SSD300 - thanks again for creating that, btw - as it is probably better than the implementation I've been using. However, just trying to get the easy examples to run in Jupyter Notebooks has been a struggle. I used conda to install all the packages and correct versions as posted but when I try to predict the sample images, I get an error (screenshot):

[2020-05-26 17:25] ailzhang commented on #95
Thanks for the report! I'll take a look there soon!

[2020-05-26 19:44] ailzhang commented on #95
@maximilianmandl What's your pytorch version btw?
I've tried it on Colab and it works as expected. https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/nvidia_deeplearningexamples_ssd.ipynb#scrollTo=H8caObhcgPqK

[2020-05-27 20:28] ailzhang commented on #77
Closing as I confirmed this works in Colab now. Thanks!

[2020-05-27 20:28] #77 closed

[2020-08-05 04:32] amilasilva92 commented on #86
Hi,

I am also currently experiencing the same issue when loading pretrained roberta models to Google colab. The pytorch version is 1.6.0 and the error log is as follows. Thank you for your help in advance.

Using cache found in /root/.cache/torch/hub/pytorch_fairseq_master
---------------------------------------------------------------------------
TypeError                                 Traceba

[2020-08-12 19:29] Skylixia opened #122 "Publishing trained fairseq model on pytorch hub"
Hello,

I trained my Roberta model following this tutorial, now I have the checkpoint directory with all checkpoints.pt (including best_checkpoint.pt) how to make use of these to publish on pytorch hub ?
In the [documentation](https://pytorch.org/docs/stable/hub.html), it's indicated to create a hubconf.py with an entrypoint. However, I don't see how to make this entrypoint with the checkpoints fi

[2020-08-13 16:46] ailzhang commented on #122
You entrypoint takes `pretrained` argument which should load checkpoint to model when it's set to True. See an example here: https://github.com/pytorch/vision/blob/master/torchvision/models/alexnet.py#L62
Closing as resolved, please feel free to reopen if you have followup questions. Thanks!

[2020-08-13 16:46] #122 closed

[2020-08-17 08:16] talhadar opened #123 "ntsnet example not working"
Hi,
I'm trying to run the ntsnet example :
`
from torchvision import transforms
import torch
import urllib
from PIL import Image

transform_test = transforms.Compose([
    transforms.Resize((600, 600), Image.BILINEAR),
    transforms.CenterCrop((448, 448)),
    # transforms.RandomHorizontalFlip(),  # only if train
    transforms.ToTensor(),
    transforms.Normalize((0.485, 0.456, 0.406), (0.229, 0

[2020-08-17 20:25] ailzhang commented on #123
Hmmm I can confirm your script(which is in the webpage) works for me both locally and it passed CI.
Are you on latest torchvision and torch release btw?

[2020-08-19 19:44] myleott commented on #86
Please try again with `torch.hub.load(..., force_reload=True)`

[2020-08-31 16:54] zdevito opened #148 "[benchmark] nits for running benchmark models locally"
I am working on python packaging for PyTorch and just used the benchmark models to verify that the packaging approach would work and not get caught up in the complexity of existing models. I used the ability to loop through the models to get a handle on the torch.nn.Module for each one, saved it in the package, and reloaded it. It illustrated a lot of shortcomings of my initial code and I was able

[2020-09-02 04:17] wconstab commented on #148
moved to https://github.com/pytorch/benchmark/issues/65

[2020-09-02 04:17] #148 closed

[2020-10-01 08:15] alvarobartt opened #154 "Typo in some files 'proabablities' instead of 'probabilities'"
There is a minor typo in:

* [pytorch_vision_deeplabv3_resnet101.md](https://github.com/pytorch/hub/blob/master/pytorch_vision_deeplabv3_resnet101.md)
* [pytorch_vision_fcn_resnet101.md](https://github.com/pytorch/hub/blob/master/pytorch_vision_fcn_resnet101.md)

Markdown files as instead of `probabilities` it says `proababilities`.

[2020-10-01 08:58] alvarobartt opened #156 "Circle-CI build failing due to ModuleNotFoundError on hydra"
As spotted while creating the PR #155, the Circle-CI build is failing with the following error code while trying to load the `RoBERTa-Large` model from `pytorch/fairseq`:

[code]

Which I guess that has something to do with the installation of `hydra-core` which does not appear to be in:

https://github.com/pytorch/hub/blob/5eac8f0358f5ce9c4962f816ffa87b3ec22ed6aa/scripts/install.sh#L13-L15

P.S.:

[2020-10-01 13:57] alvarobartt commented on #156
Hydra package can be found at https://github.com/facebookresearch/hydra

[2020-10-01 18:05] ailzhang commented on #156
Closing via #157, thanks for the fix!

[2020-10-01 18:05] #156 closed

[2020-10-02 07:27] #154 closed

[2020-10-05 07:49] alvarobartt commented on #84
Hi @mbhoshen, this is probably not the place to post this kind of issues, you should maybe try posting this on: https://github.com/pytorch/vision/issues as this is the hub repository, not the torchvision one.

Anyway, as a first guess is that you are running different pytorch and torchvision versions, so that those are not compatible. You can refer to this listing where some of the torchvision ver

[2020-10-05 18:55] ailzhang commented on #84
Yup agreed with @alvarobartt that this doesn't look related to hub, I'm going close this via https://github.com/pytorch/hub/issues/84#issuecomment-703464007. Please feel free to open an issue in pytorch/vision instead.

[2020-10-05 18:55] #84 closed

[2020-10-06 19:39] alvarobartt commented on #84
Thanks @ailzhang! Glad to be contributing to pytorch somehow 👍🏻

[2020-10-07 07:53] alvarobartt opened #159 "resize image using transforms in image segmentation examples"
This is a proposal rather than an issue, as the Image Segmentation models in the Hub, which in this case are: [Deeplabv3-ResNet101](https://pytorch.org/hub/pytorch_vision_deeplabv3_resnet101/) and [FCN-ResNet101](https://pytorch.org/hub/pytorch_vision_fcn_resnet101/), have a restriction on the input image dimensions as mentioned in the docs "`H` and `W` are expected to be at least `224px`".

Then

[2020-10-07 07:55] alvarobartt commented on #159
BTW just let me know if you think that it's useful enough to be considered in the examples and I'll myself modify the code in the Markdown files (and maybe add some more lines to the explanation).

[2020-10-07 11:10] alvarobartt commented on #159
Another note to take into consideration may be using the Image URL of the image presented in the posts [Deeplabv3-ResNet101](https://pytorch.org/hub/pytorch_vision_deeplabv3_resnet101/) and [FCN-ResNet101](https://pytorch.org/hub/pytorch_vision_fcn_resnet101/), which is the image [`images/deeplab1.png`](https://raw.githubusercontent.com/pytorch/hub/master/images/deeplab1.png) rather than the [`ima

[2020-10-23 13:16] hackIS opened #162 "github HTTP Error 404 (nvidia Tacotron2)"
Tacotron2: https://pytorch.org/hub/nvidia_deeplearningexamples_tacotron2/

I get for the
https://api.ngc.nvidia.com/v2/models/nvidia/tacotron2pyt_fp32/versions/1/files/nvidia_tacotron2pyt_fp32_20190306.pth

an HTTP Error 404 message.

I run this script in Colab with GPU since several weeks regularly. today I get an error message.... I deleted the cache already
<img width="832" alt="tacotron_error"

[2020-10-24 18:07] ArturoRR97 commented on #162
I got the same error with the SSD model [](url)

[2020-10-25 13:06] sowgali commented on #162
Same issue here. I think Nvidia's SSD model has been updated on their website, but not in the hub. So it is pointing to the old link and hence the error. You can visit this [Link](https://ngc.nvidia.com/catalog/resources/nvidia:ssd_for_pytorch/setup) for more information.

[2020-10-27 14:57] hackIS commented on #162
and how to change that link to the new link in the hub? who is doing that?

[2020-10-28 19:43] ailzhang commented on #162
Oh this issue should go to https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/Tacotron2 instead since the link should be updated there.

[2020-10-30 06:28] BalajiB197 commented on #162
even I am facing the same issue, my development is stopped due to the dependency, please let me know how we can plan for a workaround to this issue.

[2020-10-30 18:45] soumith commented on #162
@GrzegorzKarchNV @nvpstr @nv-kkudrynski can we please get this fixed in your repo asap. The checkpoint URLs have changed, and I believe you might have forgot to update the URLs in your hubconf.py

[2020-10-30 19:14] nv-kkudrynski commented on #162
Working on this now. Thanks for the notice.

[2020-10-30 21:35] nv-kkudrynski commented on #162
I fixed this and tested via torch.hub googlecolab. It is back to operational. Sorry for inconveniece.
Thx for letting us know @soumith. After the weekend I plan to update hubconf (and possibly the torch.hub md files) to benefit from our new checkpoints.

[2020-10-30 21:46] soumith commented on #162
thank you for the quick fix!

[2020-10-30 21:46] #162 closed

[2020-12-03 19:45] kiban opened #172 "Issues running Colab notebook - pytorch_fairseq_translation.ipynb"
When I first tried to run the colab notebook I got this error in the second cell

ModuleNotFoundError: No module named 'omegaconf'

after I did a pip install for omegaconf I got

ModuleNotFoundError: No module named 'hydra.core'; 'hydra' is not a package

[2020-12-22 15:29] StevenJokess opened #176 "transformers torch.hub colab doesn't work"
https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/huggingface_pytorch-transformers.ipynb#scrollTo=T_3y0655Bqbj

%%bash
pip install tqdm boto3 requests regex sentencepiece sacremoses
Then all cells left don't work!

[2021-01-15 02:05] DKay7 commented on #176
Same for me. It raises "NameError: name 'LEDTokenizerFast' is not defined".

[2021-01-27 07:51] #86 closed

[2021-01-28 15:45] elsampsa opened #184 "example resnet50 not working"
When you run this example code: https://pytorch.org/hub/pytorch_vision_resnet/

For resnet50, the example code for the suggested "dog.jpg" gives this:

[code]
A hint: there is no dog in there. :)

Here is the complete code (created by copy-pasting from https://pytorch.org/hub/pytorch_vision_resnet/):
[code]

[2021-01-29 15:21] elsampsa commented on #184
Have you tried any of your pre-trained networks for a while..?  none of them seem to work...

[2021-01-29 15:36] elsampsa commented on #184
Forgot to call net.eval() to put the network into evaluation mode.  Always enjoy making a fool of myself.  :)

[2021-01-29 15:36] #184 closed

[2021-02-05 08:10] snakers4 opened #185 "Minor Inconvenience when loading several models at the same time"
If you load 2+ models from `torch.hub` at the same time in the same process, they are treated like one namespace, i.e. if you have a `utils.py` module in both packages, it raises cryptic errors.

This comment best describes this behavior - https://github.com/snakers4/silero-vad/issues/28#issuecomment-773864337 - a used tried loading 2 models at the same time (I just renamed the `utils` module in o

[2021-02-05 20:40] ailzhang commented on #185
@snakers4 Good point! btw we have documented a similar behavior in https://pytorch.org/docs/stable/hub.html#known-limitations which is a variant of issue raised here.
We might be able to put proper scope when we load so that we can avoid this limitation, but we didn't do this for the first design due to torch.hub.load is supposed to be used in light workload instead of really heavy training work e

[2021-02-08 12:32] snakers4 commented on #185
I totally agree here.
I circumvented this just by renaming the `utils.py` into `utils_vad.py`.
Essentially we mostly use pre-build docker images internally and we did not want to support extra pip / conda packages just for our model demos, to keep things simple.
For a simple demo there is little value in making a separate package instead of just loading `utils.py` via torch hub.

I am not the bigg

[2021-02-08 12:44] snakers4 commented on #185
A naïve solution I found:

[code]

works, but you have to manage imports inside of `utils.py`  as follows:

[code]

thinking about a backwards compatible one

[2021-02-09 08:41] snakers4 commented on #185
I have tried various ideas how to make this work reverse compatible
No luck yet
I do not mind actually doing /testing the PR itself, but maybe anyone just knows a workaround
Hope that these minimal repro scripts help

[2021-02-24 03:05] snakers4 opened #187 "Huge Amounts for Traffic For Torch Hub Published Models"
Hi guys,

Since `torch.hub` is so great I would just want to ask some friendly advice on this topic
- https://github.com/snakers4/silero-models/issues/49

Maybe someone here faced similar issues or knows what it is.
Or maybe there are some CI jobs gone rogue.

[2021-02-24 03:07] snakers4 commented on #187
What it also relevant, once I migrated to new URL and updated the `yml` [file](https://github.com/snakers4/silero-models/blob/master/models.yml) it took some time (several hours) for this to start on our own hosting (compared to S3 bucket)

[2021-02-24 04:11] ailzhang commented on #187
@snakers4 thanks a lot for reporting! We don't have visibility on where these ips come from, but it might be possible people setup CI/experiments from your model. (but really if it's experiments they should hit their local cache :P

But we do understand hosting can be some burden for model owners with limited budget. One way we think of to help relieve the burden is if less than 2GB, it’s recommen

[2021-02-24 04:25] snakers4 commented on #187
Yeah, we thought about creatively using GitHub releases, but even now (before the multiple new planned releases) we already have more than 2GB of models `2.4G silero_models`, though ofc we can publish models iteratively. I am not entirely sure that GitHub releases is really intended for such use, but this is a viable option nevertheless (but we will be just shifting the hot potato instead of solvi

[2021-02-24 04:32] snakers4 commented on #187
Also also though GitHub provides a sane estimation of the repo popularity with its stars / traffic tab, just counting model hits is probably a better metric, idk

[2021-02-24 05:57] jspisak commented on #187
+1 to hosting on GitHub if you can fall below the limit. We ourselves don't host hub models to avoid incurring the liabilities that are involved.

[2021-02-24 08:07] snakers4 commented on #187
We checked the hosting logs again
99% of traffic was this "CI job" (?) from Ireland
Colab and various servers across the world continue to work properly
Hm, interesting

[2021-02-25 17:29] ailzhang commented on #187
@snakers4 Yea in this case it's likely better to ban the ip range and people might come back and reach out if it's a valid use case :D

[2021-02-26 01:31] snakers4 commented on #187
Well in any case if "the job" is not yours
Then let's close
Stat tuned for new models)

[2021-02-26 01:31] #187 closed

[2021-03-04 10:42] Mumbaso21 opened #189 "Inception v3 online docs input explenation"
Hi,
this is not a real issue, but just a note regarding the online docs of the Inception_v3 at this [link](https://pytorch.org/hub/pytorch_vision_inception_v3/).
I think it is better to insert a note in the page about the input shape as stated in the code documentation as:

[code]

In the online docs it is not reported so well.

Best regards.

[2021-03-07 21:38] Hasankanso commented on #185
any news?

I have problem with utils too. in my case one of the utils are in my environment, and I'm trying to load one model from hub, but I always get utils.x not found

[code]

editing on `sys.path` is obviously useless, I don't know why...If I load model first `detector = torch.hub.load('ultralytics/yolov3', 'yolov3', pretrained=True).autoshape() ` it get initialized normally, but then in from

[2021-03-08 03:25] snakers4 commented on #185
In your case you can try 2 obvious hacks:

- Try importing your utils module as another module
-  If this does not help then just copy yolo utils to your project under a different name

[2021-03-09 14:02] Hasankanso commented on #185
Thank you,
for both solutions I have to change "import utils" manually in the entire project, since I only use jupyter to edit the code...
Anyway I did the second point and it worked(changed the name of utils to yolo_utils).
But for some reason the other project which is this https://github.com/mks0601/I2L-MeshNet_RELEASE by the way, couldn't be executed because the model method expect different n

[2021-03-18 09:45] pongc1234 opened #192 "dogq3"

[2021-03-18 09:52] #192 closed

[2021-06-08 09:27] nv-kkudrynski opened #205 "LICENSE"
CONTRIBUTING.md says:

but there is no LICENSE file in the root directory

[2021-06-22 04:37] bylowerik opened #208 "Codelab and other demos does not work"
I have tried and run what is in CodeLab, but I get the following error:
[code]

I have the same problem when I try pytorch demos on my own machine: https://stackoverflow.com/questions/68071913/demos-for-pytorch-and-ios-are-not-working-on-macbook-m1

[2021-06-22 12:58] bislara commented on #208
I am facing the same issue while using Google Colab to import a model from PyTorch

![image](https://user-images.githubusercontent.com/35392585/122928331-61d00300-d387-11eb-9cd2-b472ae5e5e61.png)

Below is the code line where it is showing error

net = torch.hub.load('pytorch/vision:v0.9.0', 'resnet18', pretrained=False)

[2021-06-27 02:31] AK391 commented on #208
also having this issue

[2021-07-06 17:43] seherozcelik opened #212 "HTTPError: HTTP Error 403: rate limit exceeded"
I am getting an HTTP error for the below command. Thanks...

model = torch.hub.load('pytorch/vision:v0.9.0', 'inception_v3', pretrained=True)

[2021-07-22 13:22] parmeet commented on #205
cc: @brianjo

[2021-07-22 13:46] NicolasHug commented on #212
Thanks for the report,  https://github.com/pytorch/pytorch/pull/61761 should provide a fix

[2021-07-22 13:46] NicolasHug commented on #208
Thanks for the report, https://github.com/pytorch/pytorch/pull/61761 should provide a fix

[2021-07-22 13:55] parmeet commented on #189
During training, N needs to be greater than 1 because the model expects more than 1 value per channel. If you run the model in eval mode (`model.eval()`), it is OK to pass single image i.e N=1.

[2021-08-16 11:32] ashg1910 opened #218 "DeeplabV3-Resnet101. Where is the mIOU calculation and postprocessing code?"
The following link mentions mIOU = 67.4
https://pytorch.org/hub/pytorch_vision_deeplabv3_resnet101/

Is there any codebase where we can refer the evaluation and postprocessing code?

[2021-08-16 11:39] NicolasHug commented on #218
@ashg1910 this model originally comes from torchvision. You should be able to find all the relevant info regarding training / evaluation in the `reference` part of torchvision: https://github.com/pytorch/vision/tree/master/references/segmentation

[2021-08-27 13:59] laurahanu opened #222 "torch.hub shouldn't assume model dependencies have __spec__ defined"
**Problem**
I'm using torch.hub to load a model that has the `transformers` library as a dependency, however, the last few versions of `transformes` haven't had `__spec__` defined. Currently, this gives an error with torch.hub when trying to load the model and checking that the dependencies exist with `importlib.util.find_spec(name)` inside `_check_module_exists()` ([source code](https://github.co

[2021-08-27 18:03] #222 closed, assigned to nobody

[2021-08-30 16:17] PeterL1n opened #224 "CI test is broken. New pull request cannot be merged."
I have created a new pull request to add a new model to Hub: https://github.com/pytorch/hub/pull/223, but the CI test is broken. Can this be fixed so new models can be merged?

[2021-08-30 18:29] NicolasHug commented on #224
Thanks for the report @PeterL1n , yes the CI has unfortunately been down for too long now. We're working on getting it back to normal. I'll close this PR as the main issue is tracked in https://github.com/pytorch/hub/issues/212 and in the related PRs / issues.

Regarding your PR (which I'll try to review soon), you should be able to get the CI running by first applying this temporary workaround: h

[2021-08-30 18:29] #224 closed

[2021-09-02 06:29] Riser6 opened #226 "Contribute a model to pytorh_hub"
Hi, thanks for providing so many amazing AI model for us AI researchers!
Currently, I want to provide our model (https://github.com/hustvl/YOLOP) to PyTorch Hub. And I have added the hubconf.py to my repository and filled the project information in hub/docs/template.md, But there seems to be no news. Did I miss anything? Appreciate very much if you can answer it!

Regards

[2021-09-02 10:25] NicolasHug commented on #226
Hi @Riser6 , thank you for your interest in publishing your model on torchhub.

I'm looking at your hubconf.py, and I think the `__main__` function etc. are unnecessary. Take a look for example at [torchvision's hubconf.py](https://github.com/pytorch/vision/blob/main/hubconf.py): all you need to do is to expose callables / objects in this file. You can read more about this in our docs: https://pyt

[2021-09-13 21:52] wise-east opened #237 "demo not working for Translation: TypeError: cannot unpack non-iterable NoneType object"
The example that I am trying to execute is: https://pytorch.org/hub/pytorch_fairseq_translation/

Whether it be in a local environment or Google Colab, I get the error:
[code]

Steps to replicate:
open the google colab page linked to the tutorial at https://pytorch.org/hub/pytorch_fairseq_translation/ and execute the code.

[2021-09-14 08:19] NicolasHug commented on #237
Thanks for the report @wise-east , this notebook has indeed been broken for a while.

I also noticed that a few dependencies were missing: `pip install hydra-core omegaconf bitarray`.

@myleott since you authored the original file in https://github.com/pytorch/hub/pull/34, would you mind taking a look at this? Thanks!

[2021-09-14 11:04] oke-aditya opened #238 "Netlify Trusty Thar Ubuntu Image will no longer work"
From the netlify log of PR #225

https://app.netlify.com/sites/pytorch-hub-preview/deploys/613f117bd5823400072ef4e5?utm_source=github&utm_campaign=bot_dl

[code]

Please upgrade the build image.

cc @NicolasHug

[2021-09-14 11:07] NicolasHug commented on #238
@malfet @seemethere I checked, but I don't have the rights to update the image.
Is this something one of you could help with? if not, do you know who I should ask this to?
Thanks!

[2021-09-15 06:06] wise-east commented on #237
@dianaml0 @NicolasHug  Thank you!

[2021-09-17 07:21] AyushiNM commented on #237
@dianaml0 @NicolasHug Is there any immediate solution for this? I'm trying to execute code in [this](https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/pytorch_fairseq_roberta.ipynb) notebook (provided by PyTorch), and I have the same error. Thank you.

[2021-09-17 18:38] dianaml0 commented on #237
I am unable to reproduce the issue right now, @AyushiNM @wise-east are you still seeing these errors if you update the missing dependencies? (#239 )

[2021-09-17 23:19] wise-east commented on #237
@dianaml0 it worked after including the new dependencies. I thought I had tried it with the new dependencies except for `omegaconf`, but maybe that was the missing piece? Anyways, thank you for looking into this.

[2021-09-20 15:36] NicolasHug commented on #237
Thanks @dianaml0 , indeed it looks like something was fixed on the main branch of the fairseq repo.

I merged the PR as it seems that the colab notebook runs properly now (I checked myself as well).

I tried to re-enable the fairseq-translation tests which are currently skipped, but got a torch error which is probably unrelated https://app.circleci.com/pipelines/github/pytorch/hub/1342/workflows/6

[2021-09-20 15:36] #237 closed

[2021-10-08 09:46] carloalbertobono opened #243 "Module collision when loading more than one model with Torch Hub"
Hi, I'm having an issue with loading multiple specific models with torch.hub.load

Originally posted the description [here](https://github.com/ultralytics/yolov5/issues/5083#issue-1020399086) and @glenn-jocher suggested to post it here too

I'm pasting the original issue below:

Hi, I think I have a similar issue to [2414](https://github.com/ultralytics/yolov5/issues/2414)
It prevents from loading

[2021-10-08 15:43] NicolasHug commented on #243
Thanks for the detailed report @carloalbertobono , I can reproduce the issue. I'll look into this

[2021-10-11 15:17] puhuk opened #244 "Document error (sigsep_open-unmix-pytorch_umx.md)"
It seems there is a typo in sigsep_open-unmix-pytorch_umx.md
If it is ok, let me send a pull request regarding this.

umx is trained on the regular MUSDB18 which is bandwidth limited to 16 kHz do to AAC compression.
 --> umx is trained on the regular MUSDB18 which is bandwidth limited to 16 kHz due to AAC compression.

Furthermore, the models and all utility function to preprocess, read and save a

[2021-10-13 15:10] NicolasHug commented on #243
As a temporary and ugly workaround, try this:

[code]

----

The error comes from the fact that the modules that were imported in the first hubconf file (the detr one) are still present in the imported module cache, even if the detr folder has been removed from `sys.path`. I'll try to see if there's a better way of handling all this. It's kinda funny but this code runs fine:

[code]

[2021-10-14 02:04] puhuk opened #246 "Error when submitting PR"
Regarding issue #245 when I submit PR, it shows netlify error.
Is there any requirements to do before submit.

[2021-10-14 07:44] #246 closed, assigned to nobody

[2021-10-15 07:54] #244 closed, assigned to nobody

[2021-10-18 11:42] #218 closed

[2021-11-11 05:56] eric-mitchell opened #252 "404 for pre-trained ResNeXt models"
I'm currently getting a 404 when following the instructions [here](https://pytorch.org/hub/facebookresearch_WSL-Images_resnext/) for loading the Instagram pre-trained ResNeXt models. It looks like the source repo changed their `master` branch to be `main`, so instead of

    model = torch.hub.load('facebookresearch/WSL-Images', 'resnext101_32x8d_wsl')

one simply needs

    model = torch.hub.load(

[2021-11-22 08:44] Skypow2012 opened #254 "How to use hub if don't have network?"
Downloading: "https://github.com/ultralytics/yolov5/archive/master.zip" to /root/.cache/torch/hub/master.zip
I always stop in last line.
Is there anyway to use hub offline.

[2021-11-22 08:50] NicolasHug commented on #254
Hi @Skypow2012 , do you have an example of the code that you're trying to run? It's not clear what you want to do from the current description.

If what you're trying to do is use `torch.hub.load` offline, you can try setting the `source` parameter to a path (please refer to our docs https://pytorch.org/docs/stable/hub.html). HTH

[2021-11-22 09:40] Skypow2012 commented on #254
https://github.com/pytorch/pytorch/blob/577a4d34a7c017bf57b997967bf965255fd61909/torch/hub.py#L393
ok, I find this config, thanks for your reply~
`model = torch.hub.load('/root/.cache/torch/hub/ultralytics_yolov5_master/', 'custom', path='./best.pt', source='local')`
Last code can now fix my issue, thanks NicolasHug, thanks torch.hub and thanks yolov5~

[2021-11-22 09:40] #254 closed

[2021-12-01 05:31] fz-29 opened #258 "Issue in Segment ID list for BERT example in documentation"
The documentation section at the [blog](https://pytorch.org/hub/huggingface_pytorch-transformers/#using-bertmodel-to-encode-the-input-sentence-in-a-sequence-of-last-layer-hidden-states) has wrong length of `segment_ids`

Issue replication:

For the given code, if one prints out the shape of the inputs to the BERT model, they can find the issue.

[code]

The output is:

[code]

The shape mismatch i

[2021-12-14 11:15] NicolasHug commented on #252
Thanks for the report @eric-mitchell

I believe you're relying on an old torch version (or more accurately, not the latest one), because this is something that we fixed on the latest torch version. Running `model = torch.hub.load('facebookresearch/WSL-Images', 'resnext101_32x8d_wsl')` should work properly in torch >= 1.10, as the default branch assumption was updated to "if main exists use main, e

[2021-12-14 11:15] #252 closed

[2021-12-15 10:29] NicolasHug commented on #243
@vmoens and I have tried to find a reasonable solution to fix this issue, but we were unable to find a solution that would be simple, non-magical, and fully torchscript-proof. My closest attempt is https://github.com/pytorch/hub/pull/247#issuecomment-993440580, but it still fails on some very specific case related to torchscript. Even if it didn't, I think the solution is a bit too magic to be rea

[2021-12-15 10:29] #243 closed

[2021-12-15 10:42] carloalbertobono commented on #243
Then thank you very much @NicolasHug and @vmoens for the prompt help and of course for the work!
All the best
cb

[2021-12-21 09:14] sekpona1-crypto opened #262 "libtorch_hip.so: cannot open shared object file: No such file or directory silero model error on heroku"
Thank you for this amazing model. I run it on my  computer and it work sucessufully with torch=1..10.1 and torchaudio1.10.1. But if i push it ro heroku, it not work.
Because of heroku slug size rules, in requirements i put torch==1.10.1+cpu torch==1.10.1 .

I have thise error: libtorch_hip.so: cannot open shared object file: No such file or directory.

Please, help me.

[2021-12-27 08:05] SubhransuSekharBhattacharjee-01 opened #263 "ModuleNotFoundError: No module named 'bitarray'"

[2021-12-27 08:07] #263 closed

[2021-12-27 08:07] SubhransuSekharBhattacharjee-01 opened #264 "cannot unpack non-iterable NoneType object"

[2022-01-04 10:35] NicolasHug commented on #264
Hi @SubhransuSekharBhattacharjee-01 , would you mind providing some details on the error you're getting? What code did you try to execute, what is the full error message, what versions of pytorch are you using, etc. ?

I'll close this issue but if your problem persists please feel free to open a new one with the required details above. Thanks!

[2022-01-04 10:35] #264 closed

[2022-01-04 10:40] NicolasHug commented on #262
Hi @sekpona1-crypto , it looks like the issue you're having is related to one of the (various) silero models that are exposed via torchhub, but it doesn't seem directly related to torchhub. Torchhub is just a way of downloading and running these models. As a result I believe your issue could be better answered in the silero repo https://github.com/snakers4/silero-models. If you submit an issue ove

[2022-01-04 10:40] #262 closed

[2022-01-04 10:42] SubhransuSekharBhattacharjee-01 commented on #264
Hi Nicholas, no issues, it has been solved.

[2022-01-25 11:23] jdsgomes opened #265 "Add FCOS"
FCOS model has been recently added to TorchVision, therefore should also be added here

https://github.com/pytorch/vision/pull/4961

[2022-01-25 11:41] NicolasHug commented on #265
Thanks for the issue @jdsgomes , would you like to submit a PR?

[2022-01-25 11:46] datumbox commented on #265
FCOS uses the C++ ops of TorchVision like nms. I'm not sure we can add it on TorchHub without creating fallback ops in standard PyTorch.

We know that such fallback ops are likely to be slower than the C++/CUDA equivalents but because these were implemented several years ago, we don't know how much slower they will be. It might be worth benchmarking this on the future and assess if fallback ops is

[2022-01-25 12:01] jdsgomes commented on #265
Thanks for raising those important points @datumbox. Closing the ticket.

[2022-01-25 12:01] #265 closed

[2022-01-28 15:08] jdsgomes commented on #258
Hi @fz-29 , thank you for raising this issue.
The page you are looking for is this one https://github.com/pytorch/hub/blob/8f8788108bd95b39f9c8729aa1904161e476401e/huggingface_pytorch-transformers.md.
Please add the original authors to the PR review.

[2022-02-07 16:12] NicolasHug opened #267 "Silero models are failing"
The silero models are failing according to a recent CI run: https://app.circleci.com/pipelines/github/pytorch/hub/1563/workflows/f1cf4147-4fd6-48ec-8af8-5f3ce283ec56/jobs/1999

The issue seems to be internal to the silero repo and related to torchaudio:

[code]

@snakers4 I believe you authored the models in https://github.com/pytorch/hub/pull/182, would you mind taking a look? :)
Thanks!

[2022-02-07 16:16] snakers4 commented on #267
@adamnsandle this is related to a fix, where we removed files from the repo
can you please fix this in torch hub?

[2022-02-08 12:13] NicolasHug commented on #267
Closed by https://github.com/pytorch/hub/pull/268

Thanks a lot @adamnsandle  and @snakers4

[2022-02-08 12:13] #267 closed

[2022-04-05 09:42] NicolasHug opened #276 "Fix all `.md` files to set "trust_repo=True""
With https://github.com/pytorch/pytorch/pull/72060 now merged we'll need to update all the `.md` files. Likely tomorrow when the nightly release hits.

[2022-05-09 15:33] NicolasHug opened #278 "Netlify broken again"
https://app.netlify.com/sites/pytorch-hub-preview/deploys/627931341f988800092a375e

[2022-05-10 13:20] NicolasHug opened #282 "Update all torchvision calls to use `weights=` instead of `pretrained=True`"

[2022-05-10 14:10] vmoens opened #283 "silero usage of `torch.stft`"
It seems that silero uses the `torch.stft` function in a way that will be deprecated in the next pytorch release.

Previously, the following usage was permitted
[code]
but now a string representing the padding mode must be included

[code]

[Link to the old function signature](https://github.com/pytorch/pytorch/blob/6f991fc5fcf993b26dffd8ebcbaba6f696d82eed/aten/src/ATen/autocast_mode.cpp#L544-L545

[2022-05-10 14:26] snakers4 commented on #283
Hi,

Looks like this is based off a nightly PyTorch build.

Here is how we use `torch.stft` before converting to TorchScript

[code]

Is it already set in stone that this breaking change will be merged as it?
Usually PyTorch does not make such changes.

In any case the following files fail:

- file_path = 'python_code/snakers4_silero-vad_language.py'
- file_path = 'python_code/snakers4_silero-vad_

[2022-05-10 15:09] vmoens commented on #283
@snakers4

Usually PyTorch does not make such changes.

it seems this PR [will be reverted](https://github.com/pytorch/pytorch/pull/73434#issuecomment-1121516590) so let's wait for a couple of days before acting on anything.

Thanks for your responsiveness!

[2022-05-11 10:45] NicolasHug commented on #276
Done in https://github.com/pytorch/hub/pull/281

[2022-05-11 10:48] NicolasHug opened #285 "Update all torchvision version to 0.13"
TODO close to the release date. We can use `./upgrade_torchvision.sh v0.13.0`

[2022-05-16 09:26] NicolasHug commented on #283
Our CI seems to be green now: https://github.com/pytorch/hub/pull/225 (https://app.circleci.com/pipelines/github/pytorch/hub/1725/workflows/ec0914a3-1510-4dcd-b3b3-42f1eca174cd/jobs/2166)

Thanks a lot @vmoens for investigating, and @snakers4 for your timely replies!

[2022-05-16 09:26] #283 closed

[2022-05-16 10:01] NicolasHug opened #287 "TODO Before (or right after) release"
Meta issue to keep track of what we need to do:

- Make sure this is green https://github.com/pytorch/hub/pull/225
- [ ] https://github.com/pytorch/hub/issues/276
- [ ] https://github.com/pytorch/hub/issues/282
- [ ] https://github.com/pytorch/hub/issues/285

[2022-05-22 11:52] m-parchami opened #290 "Cannot obtain accuracy stated in the doc for inception_v3 pretrained on Imagenet"
Hi.
I'm trying to evaluate `inception_v3` pretrained model from the hub on Imagenet (ILSVRC 2012) test set. I use the following evaluation code:
[code]

However, the accuracy I get is `77.216` while it should be `77.45` according to [this page](https://pytorch.org/hub/pytorch_vision_inception_v3/). I figured that the model has a transform_input as preprocess in itself. So if we are doing normaliza

[2022-05-23 09:01] NicolasHug commented on #290
@m-parchami I'd recommend using the torchvision training references to check the accuracy of a given model - that's what they use to report accuracies - https://github.com/pytorch/vision/tree/main/references/classification#inception-v3
Also please note that this isn't a tochhub-related issue, more a torchvision issue (you're in luck, we maintain both).

Various things can affect the results. Obvio

[2022-06-27 20:13] johnsutor opened #291 "Issue loading a model from torch.hub"
I'm having trouble importing a model that is in my current directory.  Listing the models works without an issue
[code]

But loading a model fails

[code]

returns the error

[code]
My conda environment is as follows

[code]
Any help would be greatly appreciated!

[2022-06-28 08:52] NicolasHug commented on #291
Hi @johnsutor ,
I believe this is expected: the repo lists the following as dependencies:

https://github.com/johnsutor/CLIP/blob/e9da8421762c8446ac22cb981506dfb45e55abc1/hubconf.py#L4

These dependencies are required to load a specific model or function, but not to list the entrypoints. This is why you get the dependency error when calling `load()` and not when calling `list()`.

I think you just

[2022-06-28 09:13] vmoens commented on #291
Could you run those 2 checks and let us know if anything breaks?

(1)
[code]

(2)
[code]

[2022-06-28 13:53] johnsutor commented on #291
Great catch, it's always the simplest things... thank you much!

[2022-06-28 13:53] #291 closed

[2022-07-12 08:38] ChrisDelClea opened #294 "Model from URl"
In tf one can download the model dirctly from an uri with just 2 lines of code.
It would be great, if i can also do it with pytorch:

[code]
Instead of downloading it from github or others. Would that be possible?

[2022-07-12 08:53] NicolasHug commented on #294
Hi @ChrisDelClea ,

The pytorch equivalent would be something like [torch.hub.load_state_dict_from_url](https://pytorch.org/docs/stable/hub.html#torch.hub.load_state_dict_from_url):

[code]

It's slightly different from TF as in pytorch, the model instantiation is decoupled from the loading of its weights. You'll find mode details in this tutorial: https://pytorch.org/tutorials/beginner/saving_loa

[2022-07-18 09:09] NicolasHug opened #297 "CI doesn't run CircleCI jobs"
Looks like the ubuntu image got deprecated https://app.circleci.com/pipelines/github/pytorch/hub/1801/workflows/94262fd5-9ba0-47e4-8856-d28e04d65b69/jobs/2242

[2022-07-19 19:28] mobassir11 opened #299 "RuntimeError: Unknown builtin op: aten::reflection_pad3d while using silero models"
i tried nothing fancy,just the tutorial from your documentation like this

#@title Install dependencies
[code]

error

[code]

[2022-07-20 11:31] #299 closed

[2022-07-26 08:44] MuneebMuhammad opened #300 "Change the patch size"
I want the patch size to be (300x300), but I get this error: "RuntimeError: Sizes of tensors must match except in dimension 1. Expected size 36 but got size 37 for tensor number 1 in the list."

[2022-08-29 09:42] #294 closed

[2022-09-04 06:34] nikolz0 commented on #31
Добрый день,
Ошибка в Вашем примере
-----------------------------------------
# V3
import os
import torch

device = torch.device('cpu')
torch.set_num_threads(4)
local_file = 'model.pt'

if not os.path.isfile(local_file):
    torch.hub.download_url_to_file('https://models.silero.ai/models/tts/ru/v3_1_ru.pt',
                                   local_file)

model = torch.package.PackageImporter(local

[2022-09-05 08:15] NicolasHug commented on #31
@nikolz0 the `numpy` package seems to be missing, you can install it with `pip install numpy` or `conda install numpy`.